@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fixed {
    position: fixed;
    bottom: 0;
    right: -350px;
    transition: right 500ms ease;
    z-index: 999;
  }

  .message-transition {
    right: 0;
  }
}

/* Phone portrait and landscape */

@media screen and (max-width: 767px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .main-window {
    width: calc(100vw);
    min-height: calc(100vh);
  }
  .map-window {
    width: calc(100vw);
    height: calc(100vh);
  }
  .sidebar {
    min-height: calc(100vh);
    bottom: 0;
  }
  .menu li {
    margin-bottom: 2px;
  }
}

/* Phone landscape */

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .main-window {
    width: calc(100vw);
    min-height: calc(100vh);
  }
  .map-window {
    width: calc(100vw);
    height: calc(100vh);
  }
  .sidebar {
    min-height: calc(100vh);
    bottom: 0;
  }
  .menu li {
    margin-bottom: 2px;
  }
}

/* Tablet Portrait and Landscape */

@media screen and (max-width: 1024px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .main-window {
    width: calc(100vw);
    min-height: calc(100vh);
  }
  .map-window {
    width: calc(100vw);
    height: calc(100vh);
  }
  .sidebar {
    min-height: calc(100vh);
    bottom: 0;
  }
  .menu li {
    margin-bottom: 2px;
  }
}

/* Tablet Landscape */

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .main-window {
    width: calc(100vw);
    min-height: calc(100vh);
  }
  .map-window {
    width: calc(100vw);
    height: calc(100vh);
  }
  .sidebar {
    min-height: calc(100vh);
    bottom: 0;
  }
  .menu li {
    margin-bottom: 2px;
  }
}

/* Desktop */

@media only screen and (min-width: 1024px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
  .main-window {
    width: calc(100vw);
    min-height: calc(100vh);
  }
  .map-window {
    width: calc(100vw);
    height: calc(100vh);
  }
  .sidebar {
    min-height: calc(100vh);
    bottom: 0;
  }
  .menu li {
    margin-bottom: 1px;
  }
}
